@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --light-gray: #cee3e9;
    --neon-green: #52ffa8;

    --grayish-blue: #4e5d73;
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: #1f2632;

    --text-quote: 1.75rem;
    --weight-lg: 800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

main {
    width: 100%;
    height: 100%;
}

.img-lg { display: block; }
.img-sm { display: none; }

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 600px;
    background-color: var(--grayish-blue);
    box-shadow: 0 0 20px rgb(31, 30, 30);
    border-radius: 15px;
    padding: 3rem 3rem 4rem 3rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.advice-title {
    font-size: 1rem;
    font-weight: var(--weight-lg);
    color: var(--neon-green);
    letter-spacing: 4px;
}

.svg-sm {display: none;}
.svg-lg {display: block;}

svg path { fill: var(--light-gray); }

.advice {
    font-size: var(--text-quote);
    font-weight: var(--weight-lg);
    text-align: center;
}

.advice::before,
.advice::after {
    content: ' " ';
    font-family: 'Manrope', sans-serif;
}

.dice {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    padding: 1rem 1.1rem;
    background-color: var(--neon-green);
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
}
.dice:hover {
    box-shadow: 0 0 2rem var(--neon-green);
}

@media screen and (max-width: 580px) {
    .card {
        width: 90%;
        margin: 0 auto;
    }

    .svg-sm {display: block;}
    .svg-lg {display: none;}
}